<template name="Footer">
  <footer>
    <div style="padding-top: 15px" class="ui center aligned container">

      <p style="font-family:sans-serif; font-size:18px;     font-style: italic; color:silver">Food: It's Always On Our Mind</p>
      <p style="font-family:sans-serif; font-size:12px;     font-style: italic; color:silver">
        UH Mānoa Food Services is a self-funded program responsible for the daily operations of food service vendors on campus including food trucks, campus-wide vending, and Paradise Palms Cafe eateries.

        In an effort to continue to provide services and options that suit our University of Hawai'i at Mānoa community needs, we would appreciate your time to give us your input via a survey.  The survey should take about 10-15 minutes to complete. Your email is required to begin the survey but will not be included in the data collected. Feedback gathered from this survey will guide us in making future decisions and help us to better serve the University of Hawai'i at Mānoa community.

        Please access the survey here:  http://www.surveyshare.com/s/AYASWTB by Friday, April 14.

        After you've completed the survey, you may enter to win one of five cases of Monster Energy or a Coke product.

        Note: Dining services at the Campus Center, Hemenway Hall and Residence Halls are managed separately by Student Affairs.

        *E-mail is required for contest entry. Contest is open only to legal U.S. residents of Hawaii who are 18 years of age or older at the time of entry. Payments of all federal, state and local taxes are solely the responsibility of the winner.</p>


      <div style="padding-bottom: 50px" class="ui container">
        <div class="footer1-background">
          <div style="font-size:15px" class="ui four column grid container">
            <div class="column  ">
              Food For Thought
              <hr/>
              <div style="color:silver" class="ui list">
                <div class="item">Beanies</div>
                <div class="item">Goggles</div>
                <div class="item">Jackets</div>
                <div class="item">Pants</div>
                <div class="item">Thermals</div>
                <div class="item">Snow Fleece</div>
              </div>
            </div>
            <div style="font-size:15px" class="column">
              Vegetarians
              <hr/>
              <div style="color:silver" class="ui list">
                <div class="item">Men</div>
                <div class="item">Women</div>
                <div class="item">Kids</div>
                <div class="item">Brands</div>
                <div class="item">Search</div>
              </div>
            </div>
            <div style="font-size:15px" class="column">
              Hours
              <hr/>
              <div style="color:silver" class="ui list">
                <div class="item">Monday - Saturday: 5:30pm - 10:00pm</div>
                <div class="item">Sunday:5:00pm - 9:00pm</div>

              </div>
            </div>
            <div style="font-size:15px" class="column">
              Specials
              <hr/>
              <div style="color:silver" class="ui list">
                <div class="item">Men</div>
                <div class="item">Women</div>
                <div class="item">Kids</div>
                <div class="item">Brands</div>
                <div class="item">Search</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-background">
        <div class="ui two column grid container">
          <div style="font-size:12px; font-style: italic" class="column ">
            © 2017 UH Manoa All Rights Reserved
          </div>
        </div>
      </div>

      <div style="padding-top: 15px" class="ui center aligned container">
        blehh...
      </div>
    </div>
    </footer>

</template>